
.todo-div .chkBox{
    margin-right: 10px;
}

.todo-div li.isChecked-true{
    text-decoration: line-through;
    color: #999;
}

.todo-div .inputField {
    margin-right: 10px;
    font-size: 0.8em;
}

.todo-div .defButton{
    margin-right: 10px;
    margin-top: 20px;
}