body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

body.light{
    background: white;
    color: #000;
}
body.dark{
    color: #ccc;
    background: #222;
}
body.dark a{
    color: #ccc;
}

body.light a{
    color: #000;
}

.default-list ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    margin-bottom: 20px;
}
.default-list ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    font-weight: normal;
}

.dark .default-list ul li{
    border-bottom: 1px solid #555;
}

.default-list ul li a{
    text-decoration: none;
    color: inherit;
}
.default-list ul li a:hover{
    text-decoration: underline;
}

.inputField{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    background: none;
    font-size: 1em;
}

.dark .inputField{
    border: 1px solid #666;
    color: #ccc;
}
.light .inputField{
    color: #000;
}

.defButton{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #ececec;
    margin-left: 10px;
    margin-top: 20px;
}

.dark .defButton{
    background: #222;
    border: 1px solid #666;
    color: #ccc;
}

.nav{
    width: 150px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    height: calc(100vh);
    position: absolute;
    font-size: 0.8em;
    padding: 10px;
    background: #fff;
}

.nav .default-list ul{
    margin-top: 0;
}

.dark .nav{
    border-right: 1px solid #444;
    background: none;
}

.dark .nav.show{
    border-right: 1px solid #444;
    background: #222;
    box-shadow: 0 0 5px #000;
}

.light .nav.show{
    box-shadow: 0 0 5px #ececec;
}

.main{
    margin-left: 16%;
    padding: 2%;
}

.main h1{
    padding: 10px;
    margin: 10px;
}

.toggleButton{
    width: 40px;
    height: 20px;
    border-radius: 15px;
    text-indent: -666px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: inset 0 0 5px #ececec;
}
.toggleButton span.switch{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #fff;
    position: absolute;
}
.light .toggleButton span.switch{
    border: 1px solid #ccc;
    background: #fff;
}
.dark .toggleButton span.switch{
    margin-left: 20px;
}

.dark .toggleButton{
    background: #222;
    border: 1px solid #555;
}

.dark .toggleButton span.switch{
    background: #fff;
    border: 1px solid #f9f9f9;
}

.light .toggleButton{
    background: #ececec;
    border: 1px solid #ccc;
}

.showHide {
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 0;
    display: block;
    position: absolute;
    top: 10px;
    left: 9px;
}

.showHide span{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    height: 3px;
}
.light .showHide span{
    background: #ccc;
}

.dark .showHide span{
    background: #666;
}

@media only screen and (min-width: 480px) {
    .showHide{
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .main{
        margin: 0 20px 20px 20px;
    }
    .nav .default-list {
        margin-top: 30px;
    }
    .nav.hide{
        width: 50px;
        padding: 0;
        border: 0;
    }
    .nav.hide ul{
        display: none;
    }
    .nav.show{
        width: 150px;
    }
}