.todo-div{
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Arial, Helvetica, sans-serif';
}

.todo-div h1{
    margin-bottom: 20px;
    font-size: 2.4em;
    margin-top: 0;
}

.todo-div .inputField{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
}

.todo-div button{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #ececec;
    margin-left: 10px;
    margin-top: 20px;
}

.todo-div ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}
.todo-div ul li{
    border-bottom: 1px solid #ececec;
    padding: 10px 0px;
    font-weight: normal;
}
.todo-div .chkBox{
    margin-right: 10px;
}

.todo-div li.isChecked-true{
    text-decoration: line-through;
    color: #999;
}

.separator{
    background: #333;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}